.videoCard {
    height: 400px;
    width: 500px;
    padding: 20px;

    color: white;

    transition: transform 100ms;

}
@media (max-width:768px){
    .videoCard > .imgContainer > img {
        max-height: 193px;
        max-width: 90vw;
    }

    .videoCard:hover {
        transform: unset;

    }
    .videoCard{
        max-width: 90vw;
        padding: 0;
    }

}

.videoCard:hover {
    transform: scale(1.09);
    padding: 20px 20px 0 20px;
}

.videoCard_stats{
    display: none;
}

.videoCard:hover > .videoCard_stats{
    display: inline;
}

.videoCard > .imgContainer > img{
    height: 300px;
    width: 500px;
    object-fit: contain;

}
.videoCard:hover > .imgContainer > img {
    opacity: 0.7;

}

.videoCard > h2 {
    padding-top: 10px;

}

.videoCard > p {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}
.videoCard > .imgContainer{
    position: relative;
}
.videoCard > .imgContainer > a {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}
.videoCard > .imgContainer > a > .playBtn{
    width: 80px;
    height: 80px;
    color: white;
    /*opacity: 0.9;*/
    display: none;
}
.videoCard > .imgContainer > a > .playBtn:hover {
    color: #0091ea;

}
.videoCard:hover > .imgContainer > a > .playBtn {
    display: inline-block;
}


.videoCard:hover > p {
    overflow: hidden;
    white-space: nowrap;
}
/*.videoCard > p:hover{*/
/*    display: inline-block;*/

/*}*/

