.videoCard {
    height: 400px;
    width: 500px;
    padding: 20px;

    color: white;

    transition: transform 100ms;

}
@media (max-width:768px){
    .videoCard > img {
        max-height: 193px;
    }

}

.videoCard:hover {
    transform: scale(1.09);
}

.videoCard_stats{
    display: none;
}

.videoCard:hover > .videoCard_stats{
    display: inline;
}

.videoCard > img {
    height: 300px;
    width: 500px;
    object-fit: contain;

}

.videoCard > h2 {
    padding-top: 10px;

}

.videoCard > p {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}

.videoCard:hover > p {
    overflow: visible;
    text-overflow: unset;
    white-space: unset;
}
/*.videoCard > p:hover{*/
/*    display: inline-block;*/

/*}*/

